@charset "UTF-8";
.header {
  padding: 2.9rem 0 2.8rem;
}
@media not screen and (min-width: 576px) {
  .header {
    padding: 2rem 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media not screen and (min-width: 576px) {
  .header__inner {
    flex-direction: column;
  }
}
.header__logo {
  width: 26.3rem;
}
@media not screen and (min-width: 768px) {
  .header__logo {
    width: 14rem;
  }
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media not screen and (min-width: 576px) {
  .header__contact {
    margin: 1rem 0 0;
    align-items: center;
  }
}
.header__contact-detail {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;
}
.header__contact-number {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.44;
  color: #21a937;
}
@media not screen and (min-width: 768px) {
  .header__contact-number {
    font-size: 1.8rem;
  }
}
.header__contact-icon {
  margin: 0 0.6rem 0 0;
  width: 2.2rem;
}
@media not screen and (min-width: 768px) {
  .header__contact-icon {
    width: 1.8rem;
  }
}

.mv {
  height: 82svh;
  background: url(../images/webp/mv.webp) no-repeat center/cover;
}
@media not screen and (min-width: 576px) {
  .mv {
    background-position: 70% 100%;
  }
}
.mv__inner {
  padding: 9rem 0 0;
}
@media (max-width: 1440px) {
  .mv__inner {
    padding: 3rem 0 0;
  }
}
@media not screen and (min-width: 992px) {
  .mv__inner {
    padding: 2rem 0 0;
  }
}
@media not screen and (min-width: 576px) {
  .mv__inner {
    padding: 4rem 0 0;
  }
}
.mv__hero {
  margin: 0 0 0 -15%;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 7;
  letter-spacing: 0.3em;
  writing-mode: vertical-rl;
}
@media (max-width: 1440px) {
  .mv__hero {
    margin: 0 0 0 3%;
    line-height: 5;
    letter-spacing: 0.2em;
  }
}
@media not screen and (min-width: 992px) {
  .mv__hero {
    font-size: 2.4rem;
  }
}
@media not screen and (min-width: 576px) {
  .mv__hero {
    line-height: 3.5;
  }
}
.mv__hero-bg {
  padding: 1.8rem 3.7rem 9.2rem;
  background: #fff;
}
@media (max-width: 1440px) {
  .mv__hero-bg {
    padding: 1.8rem 3.7rem 6rem;
  }
}
@media not screen and (min-width: 992px) {
  .mv__hero-bg {
    padding: 1.8rem 2.4rem 4rem;
  }
}
@media not screen and (min-width: 576px) {
  .mv__hero-bg {
    padding: 1.8rem 2rem 4rem;
  }
}
.mv__hero-bg:last-child {
  padding: 1.8rem 3.7rem 5.7rem;
}
@media (max-width: 1440px) {
  .mv__hero-bg:last-child {
    padding: 1.8rem 3.7rem 2.5rem;
  }
}
@media not screen and (min-width: 992px) {
  .mv__hero-bg:last-child {
    padding: 1.8rem 2.4rem 1.2rem;
  }
}
@media not screen and (min-width: 576px) {
  .mv__hero-bg:last-child {
    padding: 1.8rem 2rem 1.2rem;
  }
}
.mv__hero-strong {
  color: #21a937;
}

.feature {
  padding: 16.2rem 0 8.2rem;
}
@media not screen and (min-width: 768px) {
  .feature {
    padding: 10rem 0 8rem;
  }
}
@media not screen and (min-width: 576px) {
  .feature {
    padding: 7rem 0;
  }
}
.feature__inner {
  display: flex;
  justify-content: space-between;
}
@media not screen and (min-width: 1200px) {
  .feature__inner {
    align-items: center;
  }
}
@media not screen and (min-width: 768px) {
  .feature__inner {
    flex-direction: column;
  }
}
.feature__body {
  margin: 3.1rem 0 0 3.3rem;
}
@media not screen and (min-width: 1200px) {
  .feature__body {
    margin: 0 0 0 3.3rem;
  }
}
@media not screen and (min-width: 992px) {
  .feature__body {
    margin: 0;
  }
}
@media not screen and (min-width: 768px) {
  .feature__body {
    width: 100%;
  }
}
.feature__body__ttl {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3;
  -webkit-text-decoration: underline #99e5a5 10px;
          text-decoration: underline #99e5a5 10px;
  text-underline-offset: -6px;
}
@media not screen and (min-width: 992px) {
  .feature__body__ttl {
    line-height: 1.6;
  }
}
@media not screen and (min-width: 768px) {
  .feature__body__ttl {
    text-align: center;
  }
}
.feature__body__desc {
  margin: 3.7rem 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4;
}
@media not screen and (min-width: 992px) {
  .feature__body__desc {
    margin: 1.4rem 0 0;
  }
}
@media not screen and (min-width: 768px) {
  .feature__body__desc {
    text-align: center;
  }
}
@media not screen and (min-width: 576px) {
  .feature__body__desc {
    font-size: 3.6vw;
  }
}
.feature__thumb {
  max-width: 69rem;
}
@media not screen and (min-width: 1200px) {
  .feature__thumb {
    width: 60%;
  }
}
@media not screen and (min-width: 992px) {
  .feature__thumb {
    width: 50%;
  }
}
@media not screen and (min-width: 768px) {
  .feature__thumb {
    margin: 2rem 0 0;
    width: 80%;
  }
}
@media not screen and (min-width: 576px) {
  .feature__thumb {
    width: 100%;
  }
}

.service {
  padding: 7.8rem 0 4rem;
  background: #f5fcf8;
}
.service__lead {
  margin: 7rem 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.44;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .service__lead {
    margin: 2rem 0 0;
    line-height: 1.8;
  }
}
.service__list {
  display: flex;
  justify-content: space-between;
  margin: 3.4rem 0 0;
}
@media not screen and (min-width: 576px) {
  .service__list {
    flex-direction: column;
  }
}
.service__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 3.7rem 0;
  width: calc((100% - 4rem) / 3);
  background: #fff;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
}
@media not screen and (min-width: 992px) {
  .service__item {
    padding: 3rem 1rem 0;
    width: calc((100% - 2rem) / 3);
  }
}
@media not screen and (min-width: 576px) {
  .service__item {
    width: 100%;
  }
}
.service__item__figure {
  margin: 0 auto;
  width: 18.7rem;
}
@media not screen and (min-width: 576px) {
  .service__item:not(:first-child) {
    margin: 4rem 0 0;
  }
}
.service__txt__ttl {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
}
@media not screen and (min-width: 768px) {
  .service__txt__ttl {
    font-size: 2rem;
  }
}
.service__txt__desc {
  margin: 4.5rem 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4;
}
@media not screen and (min-width: 768px) {
  .service__txt__desc {
    font-size: 1.4rem;
  }
}
@media not screen and (min-width: 576px) {
  .service__txt__desc {
    margin: 2rem 0 0;
  }
}

.news {
  padding: 4rem 0 11.3rem;
  background: #f5fcf8;
}
.news__container {
  margin: 7rem 0 0;
  padding: 4.8rem 6.6rem 4.6rem;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 10px #e7e7e7;
}
@media not screen and (min-width: 992px) {
  .news__container {
    padding: 4.8rem 3rem 2.6rem;
  }
}
@media not screen and (min-width: 576px) {
  .news__container {
    padding: 4.8rem 2rem 2.6rem;
  }
}
.news__container__link {
  display: block;
  margin: 6.4rem 0 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
}
@media not screen and (min-width: 768px) {
  .news__container__link {
    margin: 4rem 0 0;
  }
}
@media not screen and (min-width: 576px) {
  .news__container__link {
    margin: 4rem 2rem 0 0;
  }
}
.news__container__link:hover, .news__container__link:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.news__container__link:after {
  content: "▶";
  display: inline-block;
  font-size: 1.2rem;
  color: #444;
  position: absolute;
  top: 50%;
  right: -3rem;
  transform: translate(-50%, -50%);
}
@media not screen and (min-width: 768px) {
  .news__container__link:after {
    right: -2rem;
  }
}
.news__list {
  display: flex;
  align-items: center;
  padding: 0 2% 0 0;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
}
@media not screen and (min-width: 768px) {
  .news__list {
    flex-wrap: wrap;
  }
}
.news__list:hover, .news__list:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.news__list:not(:last-child) {
  margin: 0 0 3.8rem 0;
}
.news__list::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background: #e7e7e7;
  position: absolute;
  bottom: -1.9rem;
  left: 0;
}
.news__list-date {
  margin: 0 3rem 0 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.44;
  color: #21a937;
}
@media not screen and (min-width: 992px) {
  .news__list-date {
    margin: 0 1rem 0 0;
  }
}
@media not screen and (min-width: 768px) {
  .news__list-date {
    font-size: 1.4rem;
  }
}
.news__list-cat {
  margin: 0 3rem 0 0;
  padding: 0.4rem 0;
  width: 8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  background: #444;
  color: #fff;
}
@media not screen and (min-width: 992px) {
  .news__list-cat {
    margin: 0 1rem 0 0;
    width: 10rem;
  }
}
@media not screen and (min-width: 768px) {
  .news__list-cat {
    width: 8rem;
  }
}
@media not screen and (min-width: 576px) {
  .news__list-cat {
    width: 8rem;
  }
}
.news__list-desc {
  width: 79.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.44;
}
@media not screen and (min-width: 768px) {
  .news__list-desc {
    margin: 1rem 0 0;
  }
}
@media not screen and (min-width: 576px) {
  .news__list-desc {
    width: 100%;
    font-size: 1.4rem;
  }
}

.footer {
  padding: 19.6rem 0 13.6rem;
}
@media not screen and (min-width: 992px) {
  .footer {
    padding: 10rem 0;
  }
}
@media not screen and (min-width: 576px) {
  .footer {
    padding: 7rem 0 0;
  }
}
.footer__inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
@media not screen and (min-width: 768px) {
  .footer__inner {
    flex-direction: column;
  }
}
.footer__body {
  width: 100%;
  margin: 0 0 5rem 0;
}
@media not screen and (min-width: 768px) {
  .footer__body {
    text-align: center;
  }
}
.footer__body__address {
  margin: 5.2rem 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.44;
}
@media not screen and (min-width: 768px) {
  .footer__body__address {
    margin: 5rem 0 0;
  }
}
@media not screen and (min-width: 576px) {
  .footer__body__address {
    margin: 2rem 0 0;
  }
}
.footer__logo {
  display: inline-block;
  width: 26.3rem;
}
@media not screen and (min-width: 768px) {
  .footer__logo {
    width: 14rem;
  }
}
.footer__access {
  margin: 0 3.4rem 0 0;
  width: 100%;
}
.footer__access iframe {
  width: 100%;
}
.footer__contact-tel {
  justify-content: flex-end;
  margin: 3.2rem 0 0;
}
@media not screen and (min-width: 768px) {
  .footer__contact-tel {
    justify-content: center;
    margin: 1rem 0 0;
  }
}
.footer__contact-number {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.44;
  color: #21a937;
}
@media not screen and (min-width: 768px) {
  .footer__contact-number {
    font-size: 1.8rem;
  }
}
.footer__contact-icon {
  margin: 0 0.6rem 0 0;
  width: 2.2rem;
}
@media not screen and (min-width: 768px) {
  .footer__contact-icon {
    width: 1.8rem;
  }
}
.footer__open-close {
  display: block;
  margin: 3.1rem 0 0;
  padding: 1.9rem 0 1.8rem;
  width: 100%;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
}
.footer__open-close tbody {
  display: block;
}
.footer__open-close-row {
  display: block;
}
.footer__open-close-row:first-child, .footer__open-close-row:nth-child(4) {
  padding: 0.3rem 0 0 0;
}
.footer__open-close-row:nth-child(4) {
  display: block;
  margin: 2rem 0 0;
}
.footer__open-close-row:nth-child(4) .footer__open-close-detail01 {
  width: 10.6rem;
}
.footer__open-close-head {
  width: 8.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  border-right: 2px solid #e7e7e7;
}
@media not screen and (min-width: 992px) {
  .footer__open-close-head {
    display: block;
    font-weight: 700;
    border-right: none;
  }
}
@media not screen and (min-width: 576px) {
  .footer__open-close-head {
    display: block;
    font-weight: 700;
    border-right: none;
  }
}
.footer__open-close-detail {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
}
.footer__open-close-detail01 {
  padding: 0 0 0 2.8rem;
  width: 9rem;
}
@media not screen and (min-width: 992px) {
  .footer__open-close-detail01 {
    padding: 0;
    width: 6rem;
    text-align: left;
  }
}
.footer__open-close-detail02 {
  width: 11rem;
}
@media not screen and (min-width: 992px) {
  .footer__open-close-detail02 {
    width: 12rem;
  }
}
.footer__open-close-detail03 {
  padding: 0 0 0 1.7rem;
  width: 14rem;
}
@media not screen and (min-width: 992px) {
  .footer__open-close-detail03 {
    padding: 0 0 0 1rem;
  }
}
.footer__open-close-accent {
  -webkit-text-decoration: underline #99e5a5 3px;
          text-decoration: underline #99e5a5 3px;
  text-underline-offset: -1px;
}
.footer__copy {
  display: block;
  max-width: 1280px;
  padding: 0 5rem;
  margin: 0.8rem auto 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.44;
  text-align: right;
}
@media not screen and (min-width: 576px) {
  .footer__copy {
    margin: 5rem 0 0;
  }
}